h1 Edit Gif
hr
= simple_form_for :gif, url: update_gif_path, methods: :post do |f|
  = f.hidden_field :id, value: @gif.id unless @gif.blank?
  = f.simple_fields_for :individual_images do |ff|
    - @images_blob.each_with_index do |blob, i|
      = image_tag blob
      = ff.input "#{blob.key}", as: :boolean, input_html: {checked: true}
      = ff.input "index-#{blob.key}", as: :integer, input_html: {value: i}
  hr
  = f.input :name, input_html: {value: @name}
  = f.input :delay, as: :integer, input_html: {value: @delay}
  = f.input :width, as: :integer, input_html: {value: @width}
  = f.input :height, as: :integer, input_html: {value: @height}
  = f.input :ticks_per_second, as: :integer, input_html: {value: @ticks_per_second}
  = f.submit
hr
= link_to "back", root_path