h1 Gif Test
hr
h2 create gif by selecting multiple files(gif, image, video etc..) with rmagick
h4 video will take some time, so it is better to use ffmpeg
hr
= simple_form_for :gif, url: new_gif_path, methods: :post, html: { multipart: true } do |f|
  = f.input :name, input_html: {value: 'giftest'}
  = f.label :files
  = f.file_field :files, multiple: true
  = f.input :width, as: :integer, input_html: {value: 300}
  = f.input :height, as: :integer, input_html: {value: 400}
  = f.input :delay, as: :integer, input_html: {value: 20}, hint: "if 100 as a tick for a second,eg 20 = 1/5 of a second for each transition"
  = f.input :ticks_per_second, as: :integer, input_html: {value: 100}, hint: "100 as the default value"
  = f.submit "Create gif with image or gif files"
hr
h2 create gif by selecting a video file with ffmpeg, faster version for video by setting fps
h4 gif file can also be uploaded but not suitable
hr
= simple_form_for :gif, url: edit_video_gif_path, method: :post do |f|
  = f.input :name, input_html: {value: 'giftest'}
  = f.label :file
  = f.file_field :file
  = f.input :fps, input_html: {value: 2}, hint: "default generates 2 screenshots per second"
  = f.input :width, as: :integer, input_html: {value: 300}
  = f.input :height, as: :integer, input_html: {value: 400}
  = f.input :delay, as: :integer, input_html: {value: 20}, hint: "if 100 as a tick for a second,eg 20 = 1/5 of a second for each transition"
  = f.input :ticks_per_second, as: :integer, input_html: {value: 100}, hint: "100 as the default value"
  = f.submit "Create gif with video file"
hr
h2 list of created gifs
hr
- @gifs.each do |gif|
  h3 = gif.name
  h3 = link_to 'delete', delete_gif_path(gif.id), method: :delete
  h3 = link_to 'edit', edit_gif_path(gif.id)
  h3
    a href="#{url_for(gif.image)}" download="#{gif.name}" download
  = image_tag gif.image